In [13]:
import os
from pyspark.sql.types import *
from pyspark.sql import functions as F
%load_ext autoreload
%autoreload 2
import pandas as pd
import pyspark
from pyspark.sql.types import *
from pyspark.ml.tuning import TrainValidationSplit
from pyspark.ml.recommendation import ALS
from pyspark.ml.evaluation import RegressionEvaluator
import uv_model
import matplotlib.pyplot as plt
#import spark_notebook_helpers
from pyspark.ml.recommendation import ALS
from pyspark.ml.evaluation import RegressionEvaluator
import numpy as np

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
venues = pd.read_csv('venues.csv')
events = pd.read_csv('events.csv')
artists = pd.read_csv('artists.csv')

In [4]:
model = uv.UV_model('events.csv','artists.csv','venues.csv')

In [4]:
artist = list(model.artist_data.artists_id)
venues = list(model.venues_data.venue_id)
things_to_predict = pd.DataFrame(list(it.product(artist, venues)), \
                               columns =['artist_id', 'venue_id'])

In [ ]:
spark_df = model.spark.createDataFrame(things_to_predict)

In [5]:
model.fit()

In [6]:
a, b = model.predict_artist_for_city('Victor Wooten', 'Oakland', 'CA')

In [7]:
b

,Unnamed: 0,venueidentifer,venue_name,country,region,city,genre,bio,latitude,longitude,venue_id
21695,21695,Metro Oakland CA United States,Metro,United States,CA,Oakland,"['Doom Metal, Metal, Heavy Metal, Rock, Sludge...",['YOB on iTunes / Apple Music: http://geni.us/...,37.804444,-122.269722,21695
24023,24023,O.co Coliseum Oakland CA United States,O.co Coliseum,United States,CA,Oakland,"[None, None, None, None, None, None, None, Non...","[None, None, None, None, None, None, None, Non...",37.737099,-122.206497,24023
25609,25609,Paramount Theatre-Oakland Oakland CA United St...,Paramount Theatre-Oakland,United States,CA,Oakland,"['Ranchera, Mariachi, World Fusion', 'Gospel, ...","['Aida Cuevas affectionately also known as ""Th...",37.809866,-122.268586,25609
32245,32245,Starline Ballroom Oakland CA United States,Starline Ballroom,United States,CA,Oakland,[None],[None],37.804444,-122.269722,32245
32246,32246,Starline Social Club Oakland CA United States,Starline Social Club,United States,CA,Oakland,"['Leeds', 'Rnb-soul, Punk, Rock, R&b/soul, Ind...",['Third Article EP out 24th November - https:/...,37.809839,-122.271594,32246
35988,35988,The Layover Oakland CA United States,The Layover,United States,CA,Oakland,"['Other, Ambient, Metal, Rock, Trance, Hard Ro...","['""A well worth watch for anybody that wants t...",37.805209,-122.269451,35988
36445,36445,The New Parish Oakland CA United States,The New Parish,United States,CA,Oakland,"['All Day All Night Jams', None, None, None, '...","[""1: Chanti Darling p. noun \\'ʃǽnti dɑ́rlɪŋ\...",37.805725,-122.270838,36445
41693,41693,Yoshi's Oakland (10PM show) Oakland CA United ...,Yoshi's Oakland (10PM show),United States,CA,Oakland,"['Funk, Jazz', 'Funk, Jazz']",['“I like to talk and I like to play.”So said ...,37.804404,-122.270418,41693
41694,41694,Yoshi's Oakland (8PM show) Oakland CA United S...,Yoshi's Oakland (8PM show),United States,CA,Oakland,"['Funk, Jazz', 'Funk, Jazz']",['“I like to talk and I like to play.”So said ...,37.804404,-122.270418,41694
41696,41696,Yoshi's Oakland Oakland CA United States,Yoshi's Oakland,United States,CA,Oakland,"['Jazz, Funk, Soul, R&b, Rnb-soul, Smooth Jazz...","['Brian Culbertson, the founder of the Napa Va...",37.796525,-122.277817,41696

In [123]:
model.predict_artist_for_all_venues('Slayer',20)

                              venue_name  predictions
647                              45 East     0.675469
3736                     Belly Up Tavern     0.625708
4063        Bill Graham Civic Auditorium     0.599912
13461                    Golden 1 Center     0.571735
14180                         Halcyon SF     0.552462
14471  Harlow's Restaurant and Nightclub     0.514158
15279                       Honda Center     0.510616
15386                     Hopmonk Tavern     0.508055
22147                        Moda Center     0.499837
22157      Modesto Reservoir Campgrounds     0.497370
24747                       Oracle Arena     0.485185
27188                       Public Works     0.484972
29315             SAP Center At San Jose     0.479909
29570     SOhO Restaurant and Music Club     0.464666
30813             Shoreline Amphitheatre     0.456697
32170                     Staples Center     0.447186
33078              Sweetwater Music Hall     0.444104
35352                          The Forum     0.435856
35833                    The Independent     0.431879
41075           White River Amphitheatre     0.418959

In [130]:
model.predictions_sorted.select('venue_id').show(20)

+--------+
|venue_id|
+--------+
|    4063|
|   29315|
|   14471|
|   33078|
|   15386|
|   29570|
|   32170|
|   35352|
|     647|
|   27188|
|   22147|
|   14180|
|   24747|
|   30813|
|   35833|
|   15279|
|   41075|
|   22157|
|   13461|
|    3736|
+--------+
only showing top 20 rows

In [111]:
#model.events_data[model.events_data['artist_name'] == 'Bobaflex'][['venue_name', 'venue_id']]

In [1]:
a  = model.predict_for_artist('Slayer')

NameError: name 'model' is not defined

In [116]:
a.toPandas()

   artists_id  venue_id  prediction
0         386     29315    0.625708
1         386     32888    0.312632

In [17]:
b = pd.DataFrame()
b['artists_id'] = a['artists_id']
b['venue_id'] = a['venue_id']
b

       artists_id  venue_id
96997    11270709     12452
96998    11270709     14691
96999    11270709     22002
97000    11270709     41691
97001    11270709      6314
97002    11270709     14582
97003    11270709     20210
97004    11270709     36414

In [20]:
model.als_recomender.transform(model.spark.createDataFrame(b)).toPandas()

   artists_id  venue_id  prediction
0    11270709     20210    0.003109
1    11270709     12452    0.008995
2    11270709     22002    0.000000
3    11270709      6314    0.002747
4    11270709     14582    0.002747
5    11270709     14691    0.002747
6    11270709     41691    0.002747
7    11270709     36414    0.013127

TypeError: 'module' object is not callable