In [1]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
import generate_tables as gt

ModuleNotFoundError: No module named 'generate_tables'

In [35]:
events_raw = pd.read_csv('../data/master_events_raw.csv')

In [36]:
master_venues = pd.read_csv('../data/master_venues.csv')

In [37]:
events_sorted = events_raw.sort_values(by = ['datetime'])

In [43]:
split = int(len(events_sorted)*.8)

In [44]:
train_events_raw = events_sorted[0:split]

In [45]:
test_events_raw = events_sorted[split+1:]

In [46]:
train_events_raw.to_csv('train_events_raw.csv')

In [47]:
test_events_raw.to_csv('test_events_raw.csv')

In [17]:
train_venues = gt.make_venue_df(train_events_raw)

/Users/shiahlints/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:5430: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [18]:
train_venues.head(5)

,venueidentifer,venue_name,country,region,city,venue_genre,venue_bio,latitude,longitude,venue_id
0,0823 juice bladerunner uk kasper mn flaco sf d...,0823 juice bladerunner uk kasper mn flaco sf d...,United States,OR,Portland,"Portland, OR",Dedicated exclusively to the deep soulful soun...,45.526697,-122.688050,0
1,1 oak Los Angeles CA United States,1 oak,United States,CA,Los Angeles,,DJ Tay James has been making a name for himsel...,34.052234,-118.243685,1
2,1007 wolf throwdown 2018 Seattle WA United States,1007 wolf throwdown 2018,United States,WA,Seattle,Country,GRAMMY-nominated artist and songwriter of the ...,47.606209,-122.332071,2
3,1007 wolf throwdown Enumclaw WA United States,1007 wolf throwdown,United States,WA,Enumclaw,"Country, Country Music Country Americana Country",Even before signing his record deal in early 2...,47.204386,-121.990685,3
4,1015 folsom San Francisco CA United States,1015 folsom,United States,CA,San Francisco,"San Francisco, CA Alex Scarlett & Ali Jafari ...",bass so thick you can't get a comb through it....,37.777476,-122.408221,4

reset the venue ids so the match with the data and reset the lat lon

In [19]:
id_to_name, name_to_id = gt.make_conversion_dictionarys(master_venues)

In [20]:
def make_id_to_lat_lng(master_venues):
    id_to_lat = dict(zip(master_venues.venue_id,master_venues.latitude))
    id_to_lng = dict(zip(master_venues.venue_id,master_venues.longitude))
    #print(name_to_id)
    return id_to_lat, id_to_lng

In [21]:
def fix_lat_lng(dataframe, id_to_lat, id_to_lng):
    df = dataframe.copy()
    df['latitude'] = (df.venue_id).map(id_to_lat)
    df['longitude'] = (df.venue_id).map(id_to_lng)
    return df

In [22]:
id_to_lat, id_to_lng = make_id_to_lat_lng(master_venues)

In [23]:
id_to_name, name_to_id = gt.make_conversion_dictionarys(master_venues)

In [24]:
train_venues.head(5)

,venueidentifer,venue_name,country,region,city,venue_genre,venue_bio,latitude,longitude,venue_id
0,0823 juice bladerunner uk kasper mn flaco sf d...,0823 juice bladerunner uk kasper mn flaco sf d...,United States,OR,Portland,"Portland, OR",Dedicated exclusively to the deep soulful soun...,45.526697,-122.688050,0
1,1 oak Los Angeles CA United States,1 oak,United States,CA,Los Angeles,,DJ Tay James has been making a name for himsel...,34.052234,-118.243685,1
2,1007 wolf throwdown 2018 Seattle WA United States,1007 wolf throwdown 2018,United States,WA,Seattle,Country,GRAMMY-nominated artist and songwriter of the ...,47.606209,-122.332071,2
3,1007 wolf throwdown Enumclaw WA United States,1007 wolf throwdown,United States,WA,Enumclaw,"Country, Country Music Country Americana Country",Even before signing his record deal in early 2...,47.204386,-121.990685,3
4,1015 folsom San Francisco CA United States,1015 folsom,United States,CA,San Francisco,"San Francisco, CA Alex Scarlett & Ali Jafari ...",bass so thick you can't get a comb through it....,37.777476,-122.408221,4

In [25]:
train_venues['venue_id'] = (train_venues.venueidentifer).map(name_to_id)

In [26]:
train_venues.head(5)

,venueidentifer,venue_name,country,region,city,venue_genre,venue_bio,latitude,longitude,venue_id
0,0823 juice bladerunner uk kasper mn flaco sf d...,0823 juice bladerunner uk kasper mn flaco sf d...,United States,OR,Portland,"Portland, OR",Dedicated exclusively to the deep soulful soun...,45.526697,-122.688050,0
1,1 oak Los Angeles CA United States,1 oak,United States,CA,Los Angeles,,DJ Tay James has been making a name for himsel...,34.052234,-118.243685,1
2,1007 wolf throwdown 2018 Seattle WA United States,1007 wolf throwdown 2018,United States,WA,Seattle,Country,GRAMMY-nominated artist and songwriter of the ...,47.606209,-122.332071,3
3,1007 wolf throwdown Enumclaw WA United States,1007 wolf throwdown,United States,WA,Enumclaw,"Country, Country Music Country Americana Country",Even before signing his record deal in early 2...,47.204386,-121.990685,4
4,1015 folsom San Francisco CA United States,1015 folsom,United States,CA,San Francisco,"San Francisco, CA Alex Scarlett & Ali Jafari ...",bass so thick you can't get a comb through it....,37.777476,-122.408221,6

In [27]:
train_venues.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6182 entries, 0 to 6181
Data columns (total 10 columns):
venueidentifer    6182 non-null object
venue_name        6182 non-null object
country           6182 non-null object
region            6182 non-null object
city              6182 non-null object
venue_genre       5716 non-null object
venue_bio         5718 non-null object
latitude          6142 non-null float64
longitude         6142 non-null float64
venue_id          6182 non-null int64
dtypes: float64(2), int64(1), object(7)
memory usage: 483.0+ KB

In [28]:
train_venues = fix_lat_lng(train_venues, id_to_lat, id_to_lng)

In [29]:
train_venues.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6182 entries, 0 to 6181
Data columns (total 10 columns):
venueidentifer    6182 non-null object
venue_name        6182 non-null object
country           6182 non-null object
region            6182 non-null object
city              6182 non-null object
venue_genre       5716 non-null object
venue_bio         5718 non-null object
latitude          6143 non-null float64
longitude         6143 non-null float64
venue_id          6182 non-null int64
dtypes: float64(2), int64(1), object(7)
memory usage: 483.0+ KB

In [30]:
train_venues.to_csv('train_venues.csv')

In [31]:
train_events_raw['venue_id'] = (train_events_raw.venueidentifer).map(name_to_id)

/Users/shiahlints/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [32]:
train_events = fix_lat_lng(train_events_raw, id_to_lat, id_to_lng)

In [33]:
train_events.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000 entries, 13253 to 6814
Data columns (total 31 columns):
Unnamed: 0              20000 non-null int64
Unnamed: 0.1            20000 non-null int64
_id                     20000 non-null object
artist_facebook         11851 non-null object
artist_id               20000 non-null int64
artist_image            20000 non-null object
artist_name             20000 non-null object
artist_thumb            20000 non-null object
artist_url              20000 non-null object
artist_bio              14223 non-null object
artist_genre            15462 non-null object
home_town               11948 non-null object
mbid                    5849 non-null object
tracker_count           20000 non-null int64
upcoming_event_count    20000 non-null int64
offers                  20000 non-null object
datetime                20000 non-null object
on_sale_datetime        6022 non-null object
description             8040 non-null object
lineup                  20000 non-null object
event_id                20000 non-null int64
event_url               20000 non-null object
venue_name              20000 non-null object
country                 20000 non-null object
region                  20000 non-null object
city                    20000 non-null object
latitude                19949 non-null float64
longitude               19949 non-null float64
vn_original             20000 non-null object
venueidentifer          20000 non-null object
venue_id                20000 non-null int64
dtypes: float64(2), int64(7), object(22)
memory usage: 4.9+ MB

In [28]:
train_events.to_csv('train_events.csv')

In [29]:
train_events_sparce = train_events[['artist_id','venue_id']].copy()
train_events_sparce['event_count'] = 1
train_events_sparce.head()

       artist_id  venue_id  event_count
13253    7329142      4966            1
3342     1633877      1576            1
8285       37706       210            1
25596   13941890      5554            1
29989   12636700      6873            1

In [30]:
train_events_sparce.to_csv('train_events_sparce.csv')

In [31]:
test_events_raw['venue_id'] = (test_events_raw.venueidentifer).map(name_to_id)

/Users/shiahlints/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [32]:
test_events = fix_lat_lng(test_events_raw, id_to_lat, id_to_lng)

In [33]:
test_events.to_csv('test_events.csv')

In [34]:
test_events_sparce = test_events[['artist_id','venue_id']].copy()
test_events_sparce['event_count'] = 1
test_events_sparce.head()

       artist_id  venue_id  event_count
9758    13071157      4353            1
24295   10742664      2862            1
4324     1172173      7236            1
29164    1737044      3948            1
2257      224995      2768            1

In [35]:
test_events_sparce.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10113 entries, 9758 to 25830
Data columns (total 3 columns):
artist_id      10113 non-null int64
venue_id       10113 non-null int64
event_count    10113 non-null int64
dtypes: int64(3)
memory usage: 316.0 KB

In [36]:
test_events_sparce.to_csv('test_events_sparce.csv')